.homeContainer {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 50px 4fr 9fr 50px;
  grid-template-rows: 1fr 4fr 7fr;
  grid-template-areas:
    't t t t'
    '. l m .'
    '. n m .';
  grid-gap: 5px;
  background: var(--backdrop);
}

.map {
  grid-area: m;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  border-radius: 5px;
}

.map iframe {
  width: 100%;
  height: 83%;
}

.news {
  grid-area: n;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: scroll;
  background: var(--light-background);
  border-radius: 10px;
}

.news span {
  color: var(--gray-text);
  font-weight: 550;
}

.redBadge {
  width: max-content;
  padding: 5px 15px 5px 15px;
  margin: 5px;
  font-size: 1.5em;
  background: var(--red-badge);
  color: var(--light-text);
  border-radius: 5px;
}

.links {
  grid-area: l;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.links > button {
  padding: 25px 10px 25px 10px;
  background: var(--main-accent);
  color: var(--light-text);
  border-radius: 5px;
  border: none;
  height: max-content;
  font-size: 1.3em;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.nav {
  grid-area: t;
  background: var(--main-accent);
  color: var(--light-text);
  padding: 0 0 0 3%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.nav-btn {
  width: 5rem;
  height: 2rem;
  text-align: center;
  font-size: 1rem;
  color: white;

  padding: 0.5rem 0;
  background-color: var(--main-accent);
  border: none;
  border-radius: 5px;
  margin-right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
