body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  --light-text: white;
  --gray-text: rgb(63, 63, 63);
  --secondary-text: rgb(105, 105, 105);
  --dark-text: black;
  --light-background: rgb(220, 220, 220);
  --dark-background: rgb(43, 43, 43);
  --red-badge: red;
  --main-accent: rgb(69, 189, 236);
  --backdrop: rgb(240, 240, 240);
  --danger: rgb(221, 37, 37);
  --green: rgb(44, 182, 44);
}